/* -------------------------------variables------------------------------- */

:root {
  --white: #ffffff;
  --white-smoke: #f2f2f2;
  --white-rgba: rgba(255, 255, 255, 0.3);
  --white-rgba-footer: rgba(255, 255, 255, 0.9);
  --black: #000000;
  --black-rgba: rgba(0, 0, 0, 0.3);
  --whisper: #eeeeee;
  --whisper-hover: #ebebeb;
  --whisper-focus: #e5e5e5;
  --night-rider: #333333;
  --roman-coffee: #766357;
  --roman-coffee-hover: #604e43;
  --roman-coffee-active: #503e33;
  --gray: #ababab;
  --gray-bar: rgba(0, 1, 1, 0.2);
  --dim-gray: #666666;
  --gray-footer: #bdbbbc;
  --seagull: #81b3d3;
  --seagull-block: #81b3d2;
  --seagull-block-hover: #669ec0;
  --seagull-block-active: #5496bd;
  --green-light: #c5dfb9;
}

/* -------------------------------global------------------------------- */

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white-smoke);
  display: grid;
  min-height: 100%;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------------container & grid------------------------------- */

.page-body-catalog {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.page-body-catalog .footer {
  grid-column: 1/-1;
  grid-row: 3/-1;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.container-shadow {
  box-shadow: 0px 5px 15px var(--gray-bar);
}

.grid {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: start;
  min-height: 100%;
}

.main {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.footer {
  min-height: 120px;
  grid-column: 1/-1;
  grid-row: 2/-2;
  z-index: 1;
  margin-top: auto;
}

/* -------------------------------header------------------------------- */

/* navigation bar */

.main-header__background {
  background-color: var(--white);
}

.navigation {
  font-size: 14px;
  line-height: 26px;
  position: relative;
}

.navigation__list {
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navigation__item-info {
  margin: 0 134px 0 72px;
}

.navigation__item-foto {
  margin-right: 418px;
}

.navigation__item-map {
  margin-right: 147px;
}

.navigation__link {
  color: var(--black);
  display: block;
}

.navigation__link:hover {
  color: var(--seagull-block);
}

.navigation__link:focus {
  color: var(--black);
  opacity: 0.3;
}

.navigation__link:active {
  color: var(--roman-coffee);
}

.navigation__item-current .navigation__link {
  color: var(--roman-coffee);
}

.navigation__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 1;
}

/* -------------------------------main------------------------------- */

.main-background {
  background-color: var(--white);
}

/* banner */

.banner-background {
  width: 1200px;
  height: 509px;
  background: var(--seagull);
  position: relative;
  margin-bottom: 42px;
}

.banner-background::before {
  content: "";
  width: 460px;
  height: 360px;
  background: url("../img/welcomeSedonaGorgeous.png") no-repeat;
  display: block;
  position: absolute;
  top: 76px;
  left: 372px;
}

.banner-background::after {
  content: "";
  width: 1200px;
  height: 57px;
  background: url("../img/welcomeShape-index.png") no-repeat;
  display: block;
  position: absolute;
  top: 452px;
}

.banner__title {
  font-size: inherit;
  font-weight: inherit;
  line-height: 26px;
  margin: 0;
  margin-bottom: 43px;
  padding: 0 10px;
}

.banner__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--night-rider);
  margin: 0;
  margin-bottom: 51px;
  padding: 0 10px;
}

.banner__title,
.banner__subtitle {
  text-align: center;
}

/* about Sedona */

.reasons__description {
  display: flex;
  flex-flow: row wrap;
  min-height: 256px;
}

.reasons__description-background {
  background-color: var(--seagull-block);
}

.reasons__description-text {
  width: 400px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 10px;
}

.reasons__description-title,
.reasons__description-span,
.reasons__description-subtitle {
  color: var(--white);
  margin: 0;
}

.reasons__description-title {
  margin-bottom: 27px;
}

.reasons__description-span {
  margin-bottom: 23px;
}

.reasons__description-subtitle {
  margin-bottom: 7px;
}
/* .reasons__description-span {
  margin: 25px 0 23px 0;
} */

.reasons__description-span,
.reasons__description-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.reasons__description-img {
  display: block;
  width: 800px;
  height: 256px;
  background-color: var(--seagull);
}

/* services */

.reasons__services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  text-align: center;
}

.reasons__services-item {
  display: flex;
  flex-flow: column wrap;
  padding: 0 10px;
  position: relative;
}

.reasons__services-title,
.reasons__services-subtitle {
  margin: 0;
}

.reasons__services-title {
  margin: 160px 0 25px 0;
}

.reasons__services-house-icon::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 161px;
  width: 75px;
  height: 72px;
  background: url("../img/housing-index.svg") no-repeat 0 0;
}

.reasons__services-food-icon::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 161px;
  width: 75px;
  height: 70px;
  background: url("../img/food-index.svg") no-repeat 0 0;
}

.reasons__services-souvenirs-icon::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 77px;
  background: url("../img/souvenirs-index.svg") no-repeat 0 0;
}

.reasons__services-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--night-rider);
  margin-bottom: 82px;
}

/* bridge of Devil */

.reasons__attraction {
  display: flex;
  flex-flow: row wrap;
  min-height: 256px;
}

.reasons__attraction-img {
  display: block;
  width: 800px;
  height: 256px;
  background-color: var(--seagull);
}

.reasons__attraction-text {
  width: 400px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 10px;
}

.reasons__attraction-title,
.reasons__attraction-span,
.reasons__attraction-subtitle {
  color: var(--white);
  margin: 0;
}

.reasons__attraction-span,
.reasons__attraction-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.reasons__attraction-span {
  padding: 26px 0 23px 0;
}

.reasons__attraction-background {
  background-color: var(--seagull-block);
}

/* description about the town */

.reasons__benefits-background {
  background-color: var(--whisper);
}

.reasons__benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  text-align: center;
}

.reasons__benefits-item {
  display: flex;
  flex-flow: column wrap;
  padding: 0 10px;
}

.reasons__benefits-title,
.reasons__benefits-subtitle {
  margin: 0;
}

.reasons__benefits-span,
.reasons__benefits-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--night-rider);
}

.reasons__benefits-title {
  margin: 47px 0 28px 0;
}

.reasons__benefits-span {
  margin-bottom: 23px;
}

.reasons__benefits-subtitle {
  margin-bottom: 54px;
}

/* search */

.search__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.search__title,
.search__subtitle {
  margin: 0;
}

.search__title {
  font-size: 30px;
  line-height: 24px;
  margin: 58px 12px 35px 0;
}

.search__subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
}

.search__button {
  width: 568px;
  display: flex;
  justify-content: center;
  background-color: var(--roman-coffee);
}

.search__button-search {
  color: var(--white);
  padding: 32px 139px;
}

.search__button-search:hover {
  background-color: var(--roman-coffee-hover);
}

.search__button-search:active {
  color: var(--white-rgba);
  background-color: var(--roman-coffee-active);
}

.search__title,
.search__subtitle,
.search__button {
  text-align: center;
}

/* map */

.map__background {
  background-color: var(--green-light);
  width: 1200px;
  height: 594px;
}

/* filter */

.filter-background {
  background: var(--seagull-block) url("../img/background_filter-catalog.png") 0
    0 no-repeat;
  min-width: 1200px;
}

.filter__form {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  width: 1200px;
  min-height: 217px;
}

.filter__fieldset-infrastructure,
.filter__fieldset-housing,
.filter__fieldset-cost {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 26px;
}

.filter__fieldset-infrastructure {
  margin-left: 72px;
}

.filter__fieldset-housing {
  margin-left: 76px;
}

.filter__fieldset-cost {
  margin-left: 309px;
}

.filter legend {
  font-size: 16px;
  color: var(--white);
  margin-bottom: 25px;
}

.filter__list-infrastructure {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
}

.filter__list-infrastructure label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter__check-infrastructure + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--white);
  border-radius: 15%;
}

.filter__check-infrastructure:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -35px;
  width: 21px;
  height: 16px;
  background: url("../img/checkmark.svg") no-repeat;
}

.filter__item-infrastructure-pool,
.filter__item-infrastructure-parking {
  margin: 0 0 24px 40px;
}

.filter__item-infrastructure-wifi {
  margin-left: 39px;
}

.filter__item-infrastructure-hotels,
.filter__item-infrastructure-motels {
  margin: 0 0 25px 43px;
}

.filter__item-infrastructure-appartments {
  margin-left: 43px;
}

.filter__cost-wrapper {
  width: 317px;
  margin-bottom: 33px;
}

.filter__list-cost-input,
.filter__list-slider,
.filter__list-range-input {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter__list-cost-input {
  width: 100%;
  margin: -12px 2px 19px 0;
  border: 2px solid var(--white);
  display: flex;
  position: relative;
}

.filter__item-field {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
}

.filter__item-field .filter__cost-input-min,
.filter__item-field .filter__cost-input-max {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--white);
  background: transparent;
  border: none;
  border-radius: 2px;
  text-align: center;
  outline: none;
  -moz-appearance: textfield;
}

.filter__cost-input-min {
  margin-left: 9px;
  margin-bottom: 6px;
}

.filter__cost-input-max {
  margin-left: -1px;
  margin-bottom: 6px;
}

.filter__item-field input[type="number"]::-webkit-outer-spin-button,
.filter__item-field input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter__item-field:nth-child(1) label {
  position: absolute;
  top: 3px;
  left: 67px;
}

.filter__item-field:last-child label {
  position: absolute;
  right: 83px;
  top: 3px;
}

.filter__item-separator {
  width: 2px;
  height: 22px;
  background: var(--white);
  position: absolute;
  left: 158px;
  bottom: 7px;
}

.filter__item-infrastructure label:hover {
  color: var(--white);
}

.filter__form label,
.filter__button {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

.filter__list-slider {
  width: 317px;
  height: 2px;
  border-radius: 5px;
  background: var(--white-rgba);
  position: relative;
}

.filter__item-progress {
  height: 2px;
  border-radius: 5px;
  background: var(--white);
  position: absolute;
  left: 0%;
  right: 15%;
}

.filter__list-range-input {
  position: relative;
}

.filter__list-range-input .filter__range-min,
.filter__list-range-input .filter__range-max {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.filter__list-range-input .filter__range-max {
  left: 165px;
}

.filter__list-range-input input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 8px solid var(--white);
  background: var(--gray);
  pointer-events: auto;
  box-shadow: 0px 1px var(--gray);
  -webkit-appearance: none;
}

.filter__list-range-input input[type="range"]::-moz-range-thumb {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid var(--white);
  background: var(--gray);
  pointer-events: auto;
  -moz-appearance: none;
}

.filter__range-min[type="range"]:hover::-webkit-slider-thumb {
  width: 23px;
  height: 24px;
  border-radius: 50%;
  border: 9px solid var(--white);
  background: var(--gray);
  pointer-events: auto;
  box-shadow: 0px 1px var(--gray);
  -webkit-appearance: none;
}

.filter__range-max[type="range"]:hover::-webkit-slider-thumb {
  width: 23px;
  height: 24px;
  border-radius: 50%;
  border: 9px solid var(--white);
  background: var(--gray);
  pointer-events: auto;
  box-shadow: 0px 1px var(--gray);
  -webkit-appearance: none;
}

.filter__range-min[type="range"]:hover::-moz-range-thumb {
  width: 5px;
  height: 6px;
  border-radius: 50%;
  border: 9px solid var(--white);
  background: var(--gray);
  pointer-events: auto;
  box-shadow: 0px 1px var(--gray);
  -webkit-appearance: none;
}

.filter__range-max[type="range"]:hover::-moz-range-thumb {
  width: 5px;
  height: 6px;
  border-radius: 50%;
  border: 9px solid var(--white);
  background: var(--gray);
  pointer-events: auto;
  box-shadow: 0px 1px var(--gray);
  -webkit-appearance: none;
}

.filter__button {
  text-transform: uppercase;
  border: 2px solid var(--white);
  background-color: transparent;
  cursor: pointer;
  margin-left: 84px;
  padding: 7px 35px 9px 36px;
}

.filter__button:hover {
  color: var(--black);
  background-color: var(--white);
}

/* breadcrumbs */

.breadcrumbs__sort-list {
  list-style: none;
  margin: 29px 0 62px 73px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.breadcrumbs__sort-item .breadcrumbs__found-span,
.breadcrumbs__sort-item .breadcrumbs__count {
  font-weight: 700px;
  line-height: 26px;
  color: var(--black);
}

.breadcrumbs__sort-item span,
.breadcrumbs__sort-item a {
  vertical-align: bottom;
}

.breadcrumbs__byprice-link,
.breadcrumbs__bytype-link,
.breadcrumbs__byrating-link,
.breadcrumbs__sort-span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
}

.breadcrumbs__byprice-link,
.breadcrumbs__bytype-link,
.breadcrumbs__byrating-link {
  color: var(--black-rgba);
  border-bottom: 1px dotted var(--seagull-block);
}

.breadcrumbs__sort-current {
  color: var(--seagull-block);
  border-bottom: none;
}

.breadcrumbs__found {
  margin-right: 46px;
}

.breadcrumbs__sorting {
  margin-right: 40px;
}

.breadcrumbs__byprice {
  margin-right: 32px;
}

.breadcrumbs__bytype {
  margin-right: 33px;
}

.breadcrumbs__byrating {
  margin-right: 503px;
}

.breadcrumbs__up-dir {
  margin-right: 12px;
  margin-top: 3px;
}

.breadcrumbs__down-dir {
  margin-top: 3px;
}

.breadcrumbs__sort-item a:hover {
  color: var(--seagull-block);
  border-bottom: 1px dotted var(--seagull-block);
}

.breadcrumbs__sort-item a:focus {
  color: var(--seagull-block);
  border-bottom: none;
}

.breadcrumbs__sort-item a:active {
  color: var(--black);
  border-bottom: none;
}

.breadcrumbs__up-dir-link:hover svg path,
.breadcrumbs__down-dir-link:hover svg path {
  fill: var(--black);
}

.breadcrumbs__up-dir-link:focus svg path,
.breadcrumbs__down-dir-link:focus svg path {
  fill: var(--seagull-block);
}

.breadcrumbs__up-dir-link:active svg path,
.breadcrumbs__down-dir-link:active svg path {
  fill: var(--seagull-block);
}

/* show hotels */

.show__list,
.show__list-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.show__list {
  margin: 0 72px 0 73px;
}

.show__list-list {
  display: grid;
  grid-template-columns: 135px 1fr auto;
}

.show__item {
  margin-bottom: 61px;
}

.show__item:last-child {
  margin-bottom: 31px;
}

.show__item-title {
  margin: 0;
  margin-top: -6px;
  margin-bottom: 7px;
}

.show__item-item-title {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}

.show__description {
  margin-left: 30px;
}

.show__item-text,
.show__item-text-link {
  font-size: 14px;
  font-weight: 400;
  color: var(--night-rider);
  margin: 0;
}

.show__item-text {
  margin-bottom: 18px;
}

.show__item-text-span-hotel {
  margin-left: 34px;
}

.show__item-text-span-motel {
  margin-left: 59px;
}

.show__item-text-span-appartments {
  margin-left: 17px;
}

.show__star-rating {
  width: 110px;
  display: flex;
  flex-flow: column wrap;
  align-items: end;
}

.show__item-rating {
  font-size: 14px;
  font-weight: 400;
  color: var(--dim-gray);
  background-color: var(--white-smoke);
  margin: 0;
  margin-top: 46px;
  padding: 3px 12px 3px 15px;
}

.show__item-detail,
.show__item-reservation {
  font-size: 14px;
  color: var(--white);
  padding: 3px 17px;
}

.show__item-detail {
  background-color: var(--seagull-block);
}

.show__item-reservation {
  background-color: var(--roman-coffee);
}

.show__item-item-title:hover {
  color: var(--seagull-block);
}

.show__item-item-title:active {
  color: var(--black-rgba);
}

.show__item-detail:hover {
  background-color: var(--seagull-block-hover);
}

.show__item-detail:active {
  color: var(--white-rgba);
  background-color: var(--seagull-block-active);
}

.show__item-reservation:hover {
  background-color: var(--roman-coffee-hover);
}

.show__item-reservation:active {
  color: var(--white-rgba);
  background-color: var(--roman-coffee-active);
}

/* -------------------------------footer------------------------------- */

.footer__wrapper {
  min-height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  place-items: center;
  background-color: var(--white-rgba-footer);
}

.footer__contacts,
.footer__social,
.footer__copyright {
  padding: 0 10px;
}

.footer__contacts-address {
  font-style: normal;
  min-height: 120px;
  margin-bottom: -44px;
}

.footer__contacts-link {
  display: block;
  line-height: 26px;
  color: var(--black);
  text-decoration: none;
}

.footer__contacts-link:first-child {
  margin-bottom: 10px;
  margin-left: 87px;
}

.footer__contacts-link:last-child {
  margin-left: 71px;
}

.footer__social-list {
  width: 162px;
  list-style: none;
  margin: 0;
  margin-top: -5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__social-button {
  width: 46px;
  height: 48px;
  background-color: var(--seagull-block);
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-button:hover,
.footer__social-button:focus {
  background-color: var(--seagull-block-hover);
}

.footer__social-button:active {
  background-color: var(--seagull-block-active);
}

.footer__social-button:active path {
  opacity: 0.3;
}

.footer__copyright {
  position: relative;
}

.footer__copyright-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 196px 7px 0;
}

.footer__copyright-subtitle a {
  content: "";
  position: absolute;
  width: 115px;
  height: 33px;
  top: -3px;
  left: 98px;
}

.footer__copyright-subtitle-link:hover path {
  fill: var(--seagull-block);
}

.footer__copyright-subtitle-link:active path {
  fill: var(--gray-footer);
}

/* -------------------------------modal search hotel------------------------------- */

.modal-search {
  background-color: var(--white);
}

.modal-search__form p {
  margin: 0;
}

.modal-search__form label {
  font-size: 14px;
  line-height: 26px;
}

.modal-search__form input {
  border: none;
}

.modal-search__date-in[value="24 апреля 2017"],
.modal-search__date-out[value="4 июля 2017"],
.modal-search__adults-count[value="2"],
.modal-search__kids-count[value="0"] {
  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--black);
  text-transform: inherit;
  background-color: var(--white-smoke);
}

.modal-search__date-in[value="24 апреля 2017"]:hover,
.modal-search__date-out[value="4 июля 2017"]:hover,
.modal-search__adults-count[value="2"]:hover,
.modal-search__kids-count[value="0"]:hover {
  background-color: var(--whisper-hover);
}

.modal-search__date-in[value="24 апреля 2017"]:focus,
.modal-search__date-out[value="4 июля 2017"]:focus,
.modal-search__adults-count[value="2"]:focus,
.modal-search__kids-count[value="0"]:focus {
  border: 2px solid var(--whisper-focus);
  background-color: var(--white);
}

.modal-search__button-find {
  line-height: 26px;
  color: var(--white);
  background-color: var(--seagull-block);
}

.modal-search__button-find:hover {
  background-color: var(--seagull-block-hover);
}

.modal-search__button-find:active {
  color: var(--white-rgba);
  background-color: var(--seagull-block-active);
}
